body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: orange;
  color: #2b2b2b;
  width: 50%;
  margin: auto;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  margin: 2rem;
}

a {
  color: #2b2b2b;
  text-decoration: underline;
  text-decoration-color: #2b2b2b;
}

button:hover {
  cursor: pointer;
}

div[type="button"]:hover {
  cursor: pointer;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem;
}

.maxLevelCompleted {
  font-size: 1rem;
}

.instructions {
  font-family: "arial", cursive;
  font-size: 1rem;
  border: solid;
  padding: 3%;
  text-align: left;
}

.GameContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.btn {
  height: 180px;
  width: 180px;
  border: 1px solid #2b2b2b;
  margin: 2%;
}

.btn-lg {
  margin: 25px 0 2rem;
  padding: 1%;
  display: inline-block;
  height: auto;
  width: 370px;
  border: 1px solid #2b2b2b;
  font-size: 2rem;
  color: ivory;
  /* background-color: #2b2b2b; */
  background-color: black;
}

.game-over {
  background-color: black;
  opacity: 0.8;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #0af80a;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffff00;
}

/* .black {
  background-color: #000000;
} */

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #2b2b2b;
}

.footer {
  font-size: 1rem;
  margin: 3% 5%;
  color: black;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  .instructions {
    margin: 5%;
    font-size: 0.8rem;
  }

  #level-title {
    font-size: 0.95rem;
  }

  .maxLevelCompleted {
    font-size: 0.8rem;
  }

  .btn {
    height: 100px;
    width: 100px;
    margin-bottom: 3%;
  }

  .btn-lg {
    width: 205px;
    font-size: 1rem;
  }

  .footer {
    font-size: 0.8rem;
  }
}
